body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #360C0C;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.centre {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre horizontalement */
    justify-content: center; /* Centre verticalement */
    text-align: center;
    flex-grow: 1; /* Permet à cet élément de prendre l'espace disponible */
}

.header-title {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.header-line {
    width: 100%;
    max-width: 200px; /* Ajout d'une largeur maximale pour la ligne */
    height: 1px;
    background-color: #fff;
    margin: 5px 0;
}

.header-subtitle {
    font-size: 1em;
}

.hamburger-menu {
    cursor: pointer;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bar1{
    width: 45px;
    height: 2px;
    background-color: #fff;
    transition: transform 0.3s ease, width 0.3s ease;
}

.bar2 {
    width: 35px;
    height: 2px;
    background-color: #fff;
    transition: transform 0.3s ease, width 0.3s ease;
}

.bar3 {
    width: 25px;
    height: 2px;
    background-color: #fff;
    transition: transform 0.3s ease, width 0.3s ease;
}

.login-container {
    margin-right: 20px;
}

.login-btn {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    display: block;
    padding: 8px 16px;
    color: #360C0C;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-bottom: 5px; /* Ajout de la marge basse */
}

.dropdown-content a:hover {
    background-color: #360C0C;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #360C0C;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidenav ul a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.sidenav ul a:hover {
    background-color: #444;
}

.sidenav span {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
}

.sidenav .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2em;
    cursor: pointer;
    color: #fff;
    transition: transform 0.3s ease;
}

/* Style pour le bouton Administration */
.admin-btn {
    background-color: #fff; /* Couleur de fond */
    color: #360C0C; /* Couleur de texte */
    border: 2px solid #360C0C; /* Bordure */
    cursor: pointer;
    font-size: 1em;
    transition: all 0.3s ease;
    padding: 8px 16px;
    border-radius: 4px;
}

.admin-btn:hover {
    background-color: #360C0C; /* Couleur de fond au survol */
    color: #fff; /* Couleur de texte au survol */
}

/* Style pour le bouton Déconnexion */
.logout-btn {
    background-color: #fff; /* Couleur de fond */
    color: #360C0C; /* Couleur de texte */
    border: 2px solid #360C0C; /* Bordure */
    cursor: pointer;
    font-size: 1em;
    transition: all 0.3s ease;
    padding: 8px 16px;
    border-radius: 4px;
}

.logout-btn:hover {
    background-color: #360C0C; /* Couleur de fond au survol */
    color: #fff; /* Couleur de texte au survol */
}


/* Styles pour les onglets */
.onglets {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.onglets button {
    padding: 10px 20px;
    background-color: #360C0C;
    color: white;
    border: none;
    border-radius: 5px 5px 0 0; /* Coins arrondis uniquement en haut */
    cursor: pointer;
    transition: background-color 0.3s;
}

.onglets button:hover {
    background-color: #555;
}

.onglets .active {
    background-color: #555; /* Couleur différente pour l'onglet actif */
}

.onglets-content {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 0 5px 5px 5px; /* Coins arrondis uniquement en bas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles des sections */
.section {
    display: none; /* Masque tous les contenus de section par défaut */
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.section h2 {
    margin-bottom: 10px;
    color: #333;
}

.section.active {
    display: block; /* Affiche seulement la section active */
}

/* Style pour le conteneur des onglets */
.tabs {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/* Style pour les boutons des onglets */
.tab-button {
    background-color: #360C0C;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
    border-radius: 5px 5px 0 0; /* Coins arrondis en haut */
    margin: 0 5px;
}

/* Effet au survol des boutons */
.tab-button:hover {
    background-color: #360c0ce2;
}

/* Style pour l'onglet actif */
.tab-button.active {
    background-color: #360c0ce2;
    color: #fff;
}

/* Style pour le contenu des onglets */
.tab-content {
    display: none; /* Masque tout le contenu par défaut */
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0 5px 5px 5px; /* Coins arrondis en bas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: -1px; /* Superposition des bordures */
}

/* Style pour le contenu de l'onglet actif */
.tab-content.active {
    display: block; /* Affiche le contenu actif */
}

/* Animation de transition pour le contenu des onglets */
.tab-content {
    transition: opacity 0.3s ease;
    opacity: 0;
}

.tab-content.active {
    opacity: 1;
}
/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #360C0C;
    color: white;
    margin-top: auto;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-container p {
    margin: 5px 0;
}

.footer-container a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-container a:hover {
    color: #fff;
}

/* Media Query pour les écrans de taille maximale de 768px */
@media screen and (max-width: 768px) {

    /* Modifie le conteneur principal pour s'adapter à la colonne */
    .container {
        flex-direction: column;
        align-items: center;
    }

    /* Assure que le titre est centré */
    .title-container {
        text-align: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    span.bar1 {
        width: 100%;
        height: 3px;
    }
    
    span.bar2 {
        width: 100%;
        height: 3px;
    }
    
    span.bar3 {
        width: 100%;
        height: 3px;
    }

    /* Affiche la barre de navigation principale comme une colonne */
    .menu.active {
        display: flex;
        flex-direction: column;
        background-color: #333; 
        position: absolute;
        top: 60px; /* Position par rapport au haut */
        left: 0;
        width: 100%; /* Largeur maximale */
        padding: 10px 0;
        z-index: 999; /* Empilage sur les autres éléments */
    }

    /* Réorganise les éléments de la liste et ajuster le texte */
    .menu.active li {
        text-align: center;
        margin-right: 0;
    }

    /* Assure une séparation des éléments de la liste */
    .menu.active li:not(:last-child) {
        margin-bottom: 10px;
    }

    /* Assure que le texte s'affiche correctement */
    .menu.active a {
        color: #fff;
        padding: 10px;
        display: block;
    }

    /* Zone d'interaction pour le bouton de connexion */
    .login-btn {
        margin-top: 10px;
    }

    /* Ajoute un style pour afficher le conteneur de connexion sous le titre et le sous-titre */
    .login-container {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .dropdown{
        margin-top: 72px;
    }

}

/* Media Query pour les écrans de taille maximale de 425px */
@media screen and (max-width: 425px) {

    /* Centre le conteneur principal */
    .container {
        flex-direction: column;
        align-items: center;
    }

    /* Réduis la taille des titres pour une meilleure lisibilité */
    .title {
        font-size: 20px;
    }

    .title-container{
        margin-top: 27px;
        margin-bottom: 0;
    }

    .subtitle {
        font-size: 14px;
    }

    /* Assure une meilleure organisation des éléments de menu */
    .menu.active {
        display: flex;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 10px 0;
        z-index: 999;
    }

    .menu.active li {
        text-align: center;
        margin-right: 0;
    }

    .menu.active li:not(:last-child) {
        margin-bottom: 10px;
    }

    .menu.active a {
        color: #fff;
        padding: 10px;
        display: block;
    }

    .login-container{
        margin-top: 10px;
    }

    /* Ajuste le bouton de connexion */
    .login-btn {
        margin-top: 10px;
        padding: 6px 12px; /* Réduis la taille du padding */
    }

}