body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

header {
    background-color: #f9f4f4; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    margin-left: 25px;
}

header .logo a {
    color: #FD4E5D;
    text-shadow: 4px 4px #b3cee2;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

header nav ul li a.active {
    color: #FD4E5D;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.container {
    padding: 80px 20px 20px;
}

section {
    margin-bottom: 40px;
    padding: 60px 20px;
    min-height: 100vh;
}

#home {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}

#home img{
    width: 35px;
}

#home .circle {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: rgba(253, 78, 93, 0.5);
    border-radius: 50%;
    animation: moveCircle 20s infinite;
    z-index: 1;
}

#home p, #home .btn, #home .btn-container {
    position: relative;
    z-index: 2;
}

@keyframes moveCircle {
    0% {
        top: 0;
        left: 0;
        transform: translate(0, 0) scale(1);
    }
    25% {
        top: 0;
        left: 100%;
        transform: translate(-100%, 0) scale(1.2);
    }
    50% {
        top: 100%;
        left: 100%;
        transform: translate(-100%, -100%) scale(1.5);
    }
    75% {
        top: 100%;
        left: 0;
        transform: translate(0, -100%) scale(1.2);
    }
    100% {
        top: 0;
        left: 0;
        transform: translate(0, 0) scale(1);
    }
}

#home .btn-container {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px;
    background-color: #FD4E5D;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #d54f5a;
}

section h2 {
    font-size: 2.5em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
}

section h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #FD4E5D;
    margin: 10px auto 0;
    border-radius: 2px;
}

section p{
   text-align: center;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 20px;
    padding: 20px;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-7px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.project-content {
    padding: 20px;
    flex: 1;
}

.project-content h3 {
    font-size: 22px;
    margin: 0 0 10px;
    color: #333;
    text-align: center;
}

.project-content p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 12px;
}

.btn-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.btn-container a {
    background: #FD4E5D;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.btn-container a:hover {
    background-color: #d54f5a;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination a {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #FD4E5D;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #d54f5a;
}

.pagination a.active {
    background-color: #FD4E5D;
    cursor: default;
}

#skills {
    background-color: #f9f9f9;
    padding: 40px 20px;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.section-header {
    margin-bottom: 40px;
}

.section-header h2 {
    font-size: 2rem;
    color: #333;
    font-weight: bold;
}

.section-header p {
    color: #555;
    font-size: 1.1rem;
}

.skills-carousel {
    position: relative;
    width: 100%;
    max-width: 1070px; /* S'assurer que la largeur permet d'afficher 3 cartes */
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}

.skills-grid {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.skill-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 30%; /* Largeur de chaque carte pour que 3 cartes soient affichées */
    margin-right: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.6s forwards;
}

/* Cartes invisibles sauf celles visibles */
.skill-card:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
    display: none;
}

.skill-card .skill-header {
    margin-bottom: 20px;
}

.skill-card i {
    font-size: 3rem;
    color: #FD4E5D;
}

.skill-card h3 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 10px;
}

.skill-card .date {
    color: #777;
    font-size: 1rem;
    margin-bottom: 10px;
}

.skill-card p {
    color: #555;
    font-size: 1rem;
    margin-bottom: 20px;
}

.skill-card .btn {
    display: inline-block;
    background-color: #FD4E5D;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.skill-card .btn:hover {
    background-color: #ec4d5a;
}

.dots-container {
    text-align: center;
    margin-top: 20px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}

/* Animation de la carte */
@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#technology_watch {
    padding: 80px 20px;
    background-color: #f7f9fc;
    text-align: center;
}

#technology_watch h2 {
    font-size: 2.4rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

#technology_watch p {
    color: #666;
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.data-vision-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.article-card {
    background-color: #fff;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: left;
}

.article-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.article-card h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
    font-weight: 600;
}

.article-card p {
    font-size: 1rem;
    color: #777;
    line-height: 1.5;
    margin-bottom: 15px;
}

.article-card .btn {
    background-color: #FD4E5D;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.article-card .btn:hover {
    background-color: #d54f5a;
}

@media (max-width: 768px) {
    .data-vision-content {
        justify-content: center;
    }

    .article-card {
        width: 90%;
    }
}

#contact {
    background-color: #f9f4f4;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

#contact h2 {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

#contact label {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 5px;
}

#contact input,
#contact textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

#contact input:focus,
#contact textarea:focus {
    border-color: #FD4E5D;
    outline: none;
}

#contact button {
    padding: 10px 20px;
    background-color: #FD4E5D;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contact button:hover {
    background-color: #d54f5a;
}

.popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #FD4E5D;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.progress-bar {
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 5px;
}

footer {
    background: #fff;
    color: #FD4E5D;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
